<%- contentFor('page_title') %>Search Results

  <%- contentFor('body') %>
    <%- include('../partials/sidebar') %>
      <main>
        <h1>
          Results for <%= query %>
        </h1>
        <div class="content-wrapper">
          <%- include('../partials/transactions-table') %>
        </div>
      </main>